# Node modules
node_modules/

# Build output
dist/
.vite/

# Environment files
.env
.env.local
.env.*.local

# IDE / Editor files
.vscode/
*.log
*.swp
*.sublime-workspace
*.sublime-project

# Mac system files
.DS_Store

# Optional: temp files
*.tmp